
body {
  background-color: black;
  height: 100vh;
  display: flex;
}

.container {
  margin-top: 50px;
}


.category-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform .2s;
}

  .category-button:hover {
    transform: scale(1.1);
  }

  .category-button img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
